*~
*.a
*.dll
*.la
*.o
*.so

.fuse*
.directory
.svn

sdks/vstsdk2.4/artwork
sdks/vstsdk2.4/bin
sdks/vstsdk2.4/doc
sdks/vstsdk2.4/pluginterfaces
sdks/vstsdk2.4/public.sdk
sdks/vstsdk2.4/vstgui.sf
sdks/vstsdk2.4/index.html
